# vagrant
.vagrant

# misc
config/home/Burp*

# ansible
*.retry
.venv/*
.vscode/*

# OSX
.DS_Store

# packer folders
packer_cache/
output-*-iso/

# log + tmp files
*.swp
*.swo
*.box
*.log

# secret files
variables.json
secrets.txt
scripts/setup/env_vars
